.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



body{
    background-color: #f0f0f0;

}
.container {
   
  
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 200px;
    background-color: #ffffff;
 

}



.form-control{
    font-size: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140px;
  font-weight: bolder;
  color: #898989;
}

li{
    list-style-type: none;
   
}

h1{
    font-size: 70px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #151515;
}


.span{
    color: hsl(259, 100%, 65%);
}


p{
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
    color: red;
    display: none;

}
label.invalid {
    display: none;
  }
  


.rounded-circle{
    border: none;
}

.label{
    font-weight: bold;
    color: #898989;
}

.justify-content-start{
margin-left: 10%;
}


